<header [class.dark-theme]="isDarkMode">
  <div class="logo">Dev Films</div>
  <div class="controlls-wrapper">
    <div class="edit-wrapper" (click)="switchEditMode()">
      <div
        class="variants-container"
        [class.variants-container-active]="isEditMode"
      >
        <div class="variant">Edit</div>
        <div class="variant done">Done</div>
      </div>
    </div>

    <div class="tabs-wrapper" (click)="switchCardMode()">
      <div
        class="variants-container"
        [class.variants-container-active]="isCardMode"
      >
        <div class="variant">List</div>
        <div class="variant">Cards</div>
      </div>
    </div>

    <div class="switcher-wrapper" (click)="switchTheme()">
      <div
        class="variants-container"
        [class.variants-container-active]="!isDarkMode"
      >
        <div class="variant">Dark</div>
        <div class="variant">Light</div>
      </div>
    </div>
  </div>
</header>
