@import "../../../colors.scss";

:host {
  position: sticky;
  top: 0;
}

header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding: 0 5px;
  // position: fixed;
  z-index: 1000;
  display: flex;
  background-color: #fffc;
  backdrop-filter: blur(15px);
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #8888;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
  }

  .controlls-wrapper {
    @include flex-center();
    .tabs-wrapper,
    .switcher-wrapper,
    .edit-wrapper {
      overflow: hidden;
      border-radius: 5px;

      &:hover {
        background-color: #8885;
      }

      .variants-container {
        $width: 80px;
        box-sizing: border-box;
        display: flex;
        width: $width;
        transition: transform 0.1s;

        &-active {
          transform: translateX(-$width);
        }

        .variant {
          @include flex-center();

          box-sizing: border-box;
          border-radius: 5px;
          min-width: $width;
          height: 40px;
          // min-height: 40px;
          cursor: pointer;
          text-align: center;
        }

        .done {
          box-sizing: border-box;
          background-color: rgba($bg-done, 0.5);
          border: 3px solid rgba($bg-done, 0.5);
        }
      }
    }
  }
}

header.dark-theme {
  background-color: rgba($bg-dark, 0.7);
  color: $fg-dark;
}

@media (max-width: 480px) {
  header {
    flex-wrap: wrap;
    height: 80px;
    .logo {
      width: 100%;
      text-align: center;
    }
    .controlls-wrapper {
      width: 100%;
      justify-content: center;
      .switcher-wrapper,
      .tabs-wrapper,
      .edit-wrapper {
        .variants-container {
          .variant {
            height: 30px;
          }
        }
      }
    }
  }
}
