<div *ngIf="isModalMode" class="modal-background">
  <div class="modal" [class.dark-theme]="isDarkMode">
    Adding new films<br />
    <form [formGroup]="addMovieForm" (ngSubmit)="onSumbit()">
      <div class="input-container">
        <div class="form-block">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" />
        </div>

        <div class="form-block">
          <label for="year">Year</label>
          <input
            type="number"
            min="1800"
            max="2040"
            id="year"
            formControlName="year"
          />
        </div>

        <div class="form-block">
          <label for="money">Budget</label>
          <input type="number" id="money" formControlName="money" />
        </div>

        <div class="form-block">
          <label for="picture">Poster</label>
          <input
            type="text"
            id="picture"
            formControlName="picture"
            placeholder="http//:path.to.your.pic"
          />
        </div>

        <div class="form-block array" formArrayName="actors">
          <label>Actors</label>
          <div *ngFor="let control of ActorsArray.controls; index as i">
            <input type="text" [formControlName]="i" />
            <button
              type="button"
              class="delete-button"
              (click)="removeActorsForm(i)"
            >
              +
            </button>
          </div>
          <button class="add-button" type="button" (click)="addActorsForm()">
            Add
          </button>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" [disabled]="!addMovieForm.valid">Add</button>
        <button (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>
