<div
  class="movie-item"
  [ngClass]="!isCardMode ? 'movie-item-list' : 'movie-item-card'"
  [class.dark-theme]="isDarkThemeIsActive"
>
  <button *ngIf="isEditMode" class="button-close" (click)="deleteMovie(film.id)">
    +
  </button>

  <img src="../../assets/{{ film.picture }}" alt="Film picture" />

  <div *ngIf="isCardMode" class="name">{{ film.name }}</div>

  <div class="description">
    <div *ngIf="!isCardMode" class="name">{{ film.name }}</div>

    <div class="bages">
      <div class="year bage">{{ film.year }}</div>
      <div class="button-heart" [class.active]="film.isFavorite" (click)="toggleFavorite(film.id)">❤</div>
      <div class="budget bage">{{ film.money | moneyShort }}</div>
    </div>

    <section>{{ film.actors.join(", ") }}</section>

    <section class="creation-date">
      {{ film.creationDate | dateFormatUa }}
    </section>
  </div>
</div>
