<!-- <header [class.dark-theme]="isDarkThemeIsActive">
  <div class="logo">Dev Films</div>
  <div class="controlls-wrapper">
    <div class="edit-wrapper" (click)="switchEditMode()">
      <div
        class="variants-container"
        [class.variants-container-active]="isEditMode"
      >
        <div class="variant">Edit</div>
        <div class="variant done">Done</div>
      </div>
    </div>

    <div class="tabs-wrapper" (click)="switchListCards()">
      <div
        class="variants-container"
        [class.variants-container-active]="isCardMode"
      >
        <div class="variant">List</div>
        <div class="variant">Cards</div>
      </div>
    </div>

    <div class="switcher-wrapper" (click)="switchDarkTheme()">
      <div
        class="variants-container"
        [class.variants-container-active]="!isDarkThemeIsActive"
      >
        <div class="variant">Dark</div>
        <div class="variant">Light</div>
      </div>
    </div>
  </div>
</header> -->
<app-header
  [isCardMode]="isCardView"
  [isDarkThemeIsActive]="isDarkThemeActive"
  [isEditMode]="isEditMode"
  (changeCard)="isCardView = $event"
  (changeEdit)="isEditMode = $event"
  (changeTheme)="isDarkThemeActive = $event"
></app-header>

<main [class.dark-theme]="isDarkThemeActive">
  <section class="tools">
    <div class="search">
      <input type="text" placeholder="filter" [(ngModel)]="searchedValue" />
    </div>
    <div class="radio">
      <input
        type="radio"
        name="sort-by"
        id="name"
        (click)="sortFilms('name')"
      />Name
      <input
        type="radio"
        name="sort-by"
        id="year"
        (click)="sortFilms('year')"
      />Year
      <input
        type="radio"
        name="sort-by"
        id="date"
        (click)="sortFilms('date')"
      />Creation Date
    </div>
  </section>
  <div
    class="movies-container"
    [ngClass]="!isCardView ? 'movies-container-list' : 'movies-container-cards'"
  >
    <div
      *ngIf="isEditMode"
      (click)="switchModalMode()"
      class="add-new"
      [ngClass]="!isCardView ? 'add-new-list' : 'add-new-card'"
    >
      +
    </div>
    <app-film-card
      *ngFor="let film of films | appSearch: searchedValue"
      [film]="film"
      [isCardMode]="isCardView"
      [isEditMode]="isEditMode"
      [isDarkThemeIsActive]="isDarkThemeActive"
      (deleteRequest)="removeMovie($event)"
    ></app-film-card>
  </div>
</main>

<app-modal
  [isModal]="isModalShows"
  [isDarkThemeActive]="isDarkThemeActive"
  (closeModal)="isModalShows = $event"
  (requestAdd)="addMovie($event)"
></app-modal>

<router-outlet></router-outlet>
