@import "../colors.scss";

$bg-light: #fff;
$fg-light: #000;
$border-light: #ccc;

$bg-dark: #000;
$fg-dark: #fff;
$border-dark: #666;

header {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #fffc;
  backdrop-filter: blur(15px);
  height: 50px;
  width: 100%;

  border-bottom: 1px solid #8888;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    // margin: 5px;
    // align-self: flex-start;
    flex-grow: 1;
  }

  .controlls-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: #f0f3;
    .tabs-wrapper,
    .switcher-wrapper {
      overflow: hidden;

      .variants-container {
        display: flex;
        width: 100px;
        transition: transform 0.1s;

        .variant {
          // background-color: #ff03;
          min-width: 100px;
          width: 100px;
          cursor: pointer;
          text-align: center;
        }
        .varian-active {
          transform: translateX(100px);
        }
      }
      .variants-contaner-active {
        transform: translateX(-100px);
      }
    }
  }
}

header.dark-theme {
  background-color: rgba($bg-dark, 0.7);
  color: $fg-dark;
}

main {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  .film-container-list {
    width: 100%;
    max-width: 900px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 15px;
    gap: 15px;
  }

  .film-container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    gap: 15px;
  }
}

main.dark-theme {
  background-color: $bg-dark;
  color: $fg-dark;
}

@media (max-width: 480px) {
  header {
    flex-wrap: wrap;
    height: 80px;
    .logo {
      width: 100%;
      text-align: center;
    }
    .controlls-wrapper {
      width: 100%;
      justify-content: center;
    }
  }
  main {
    padding-top: 80px;
  }
}
