@import "../colors.scss";

header {
  position: fixed;
  z-index: 1000;
  display: flex;
  background-color: #fffc;
  backdrop-filter: blur(15px);
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #8888;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
  }

  .controlls-wrapper {
    @include flex-center();
    .tabs-wrapper,
    .switcher-wrapper,
    .edit-wrapper {
      overflow: hidden;
      border-radius: 5px;

      &:hover {
        background-color: #8885;
      }

      .variants-container {
        display: flex;
        width: 100px;
        transition: transform 0.1s;

        &-active {
          transform: translateX(-100px);
        }

        .variant {
          @include flex-center();

          box-sizing: border-box;
          border-radius: 5px;
          min-width: 100px;
          height: 40px;
          cursor: pointer;
          text-align: center;
        }

        .done {
          background-color: rgba($bg-done, 0.5);
          border: 3px solid rgba($bg-done, 0.5);
        }
      }
    }
  }
}

header.dark-theme {
  background-color: rgba($bg-dark, 0.7);
  color: $fg-dark;
}

.tools {
  width: 100%;
  padding-top: 50px;
  background-color: #8883;
  .search {
    @include flex-center();
  }
  input {
    margin: 5px;
    padding: 5px;
    // border: 3px solid #f00;
  }
}

main {
  @include flex-center();
  // align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  // padding-top: 50px;
  min-height: calc(100vh - 50px);
  background-color: $bg-light;

  .add-new {
    @include flex-center();
    box-sizing: border-box;
    border: 5px solid #aaa8;
    border-radius: 7px;
    font-size: 7rem;
    color: #aaa8;
    cursor: pointer;
    user-select: none;
    &-list {
      width: 100%;
      height: 96px;
    }
    &-card {
      width: 270px;
      height: 425px;
    }
    &:hover {
      background-color: #aaa4;
    }
    &:active {
      background-color: #aaa8;
    }
  }

  .movies-container {
    @include flex-center();
    // background-color: #3333;
    padding: 15px;
    width: 100%;
    gap: 15px;
    // height: 50px;

    &-list {
      align-items: unset;
      max-width: 900px;
      flex-direction: column;
    }

    &-cards {
      flex-wrap: wrap;
    }
  }
}

main.dark-theme {
  // background-color: $bg-dark;
  background-color: lighten($bg-dark, 10%);
  color: $fg-dark;
}

@media (max-width: 768px) {
  .movies-container-list {
    gap: 2px;
  }
}

@media (max-width: 480px) {
  header {
    flex-wrap: wrap;
    height: 80px;
    .logo {
      width: 100%;
      text-align: center;
    }
    .controlls-wrapper {
      width: 100%;
      justify-content: center;
      .switcher-wrapper,
      .tabs-wrapper {
        .variants-container {
          .variant {
            height: 30px;
          }
        }
      }
    }
  }
  main {
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    .movies-container {
      padding: 5px;
      gap: 5px;
    }
  }
}
