<main [class.dark-theme]="isDarkThemeActive">
  <app-header></app-header>
  <!-- <section class="tools">
    <div class="search">
      <input type="text" placeholder="filter" [(ngModel)]="searchedValue" />
    </div>
    <div class="radio">
      <input
        type="radio"
        name="sort-by"
        id="name"
        (click)="sortFilms('name')"
      />Name
      <input
        type="radio"
        name="sort-by"
        id="year"
        (click)="sortFilms('year')"
      />Year
      <input
        type="radio"
        name="sort-by"
        id="date"
        (click)="sortFilms('date')"
      />Creation Date
      <button>Favorites</button>
    </div>

  </section> -->

  <!-- <app-movie-list [isFavoriteMode]="false"></app-movie-list> -->
  <router-outlet></router-outlet>
  <!-- <div
    class="movies-container"
    [ngClass]="!isCardView ? 'movies-container-list' : 'movies-container-cards'"
  >
    <div
      *ngIf="isEditMode"
      (click)="switchModalMode()"
      class="add-new"
      [ngClass]="!isCardView ? 'add-new-list' : 'add-new-card'"
    >
      +
    </div>
    <app-film-card
      *ngFor="let film of movies | appSearch: searchedValue"
      [film]="film"
      [isCardMode]="isCardView"
      [isEditMode]="isEditMode"
      [isDarkThemeIsActive]="isDarkThemeActive"
      (deleteRequest)="removeMovie($event)"
      (requestToggleFav)="toggleFavorite($event)"
    ></app-film-card>
  </div> -->
</main>

<app-modal></app-modal>
