<header [class.dark-theme]="isDarkThemeIsActive">
  <div class="logo">Dev Films</div>
  <div class="controlls-wrapper">
    <div class="tabs-wrapper" (click)="switchListCards()">
      <div
        class="variants-container"
        [class.variants-container-active]="isCardMode"
      >
        <div class="variant">List</div>
        <div class="variant">Cards</div>
      </div>
    </div>

    <div class="switcher-wrapper" (click)="switchDarkTheme()">
      <div
        class="variants-container"
        [class.variants-container-active]="!isDarkThemeIsActive"
      >
        <div class="variant">Dark</div>
        <div class="variant">Light</div>
      </div>
    </div>
  </div>
</header>

<main [class.dark-theme]="isDarkThemeIsActive">
  <div
    class="movies-container"
    [ngClass]="!isCardMode ? 'movies-container-list' : 'movies-container-cards'"
  >
    <app-film-card
      *ngFor="let film of films"
      [film]="film"
      [isCardMode]="isCardMode"
    ></app-film-card>
  </div>
  <!-- <div *ngIf="isCardMode" class="film-container-card">
    <app-film-card
      *ngFor="let film of films"
      [film]="film"
      [isCardMode]="isCardMode"
    ></app-film-card>
  </div>
  <div *ngIf="isCardMode" class="film-container-card"></div>

  <div *ngIf="!isCardMode" class="film-container-list">
    <app-film-card
      *ngFor="let film of films"
      [film]="film"
      [isCardMode]="isCardMode"
    ></app-film-card>
  </div> -->
</main>

<router-outlet></router-outlet>
