<!-- <div *ngIf="isCardMode" class="film-card">
  <div class="bages-wrapper">
    <div class="year">{{ film.year }}</div>
    <div class="budget">{{ film.money | moneyShort }}</div>
  </div>
  <img
    src="../../assets/{{ film.picture }}"
    alt="Film picture"
    width="285"
    height="360"
  />
  {{ film.name }}
</div>

<div *ngIf="!isCardMode" class="film-list-item">
  <img src="../../assets/{{ film.picture }}" alt="Film picture" />
  <div class="name">{{ film.name }}</div>
  <div class="bages-wrapper">
    <div class="year">{{ film.year }}</div>
    <div class="budget">{{ film.money | moneyShort }}</div>
  </div>
</div> -->

<div
  class="movie-item"
  [ngClass]="!isCardMode ? 'movie-item-list' : 'movie-item-card'"
>
  <div class="img-container">
    <div class="year">{{ film.year }}</div>
    <div class="budget">{{ film.money | moneyShort }}</div>
    <img src="../../assets/{{ film.picture }}" alt="Film picture" />
  </div>

  <div class="name">{{ film.name }}</div>
</div>
