@import "../../colors.scss";
:host {
  position: absolute;
  z-index: 2000;
  top: 0px;
}

button {
  cursor: pointer;
  // width: 100px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff0;
  color: inherit;
  &:hover {
    background-color: #8883;
  }
  &:active {
    background-color: #8886;
  }
}

input {
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.modal-background {
  @include flex-center();
  background-color: #3333;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.modal {
  padding: 15px;
  border-radius: 15px;
  background-color: $bg-light;
  box-shadow: 0 5px 15px #0003, 0 2px 5px #0003;

  form {
    display: flex;
    flex-direction: column;

    .input-container {
      padding: 5px;
      background-color: $bg-light-2;
      border-radius: 5px;

      .form-block {
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        border-bottom: 1px solid #8886;
      }

      .array {
        border-bottom: none;
        input {
          width: 220px;
        }
      }
    }
  }

  .buttons {
    @include flex-center();
    button {
      width: 45%;
    }
  }
}

.modal.dark-theme {
  background-color: $bg-dark;
  color: $fg-dark;
  form {
    .input-container {
      background-color: $bg-dark-2;
    }
  }

  input {
    background-color: $bg-dark-3;
    color: $fg-dark;
  }
}
